html ,body{
    margin: 0;
    font: normal 18px/1.4em Arial;

}

.wrapper{
    width: 1200px;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0  auto;
}
header{
    position: relative;
    background: url('../images/new.jpg') no-repeat center center ;
    min-height: 300px;
    background-size: cover;
    
}

nav{
    padding: 10px;
    background: rgba(0,  0, 0, .6);
    border-radius: 7px;
}

nav .logo{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../images/logo.png') no-repeat center center;
    background-size: 80%;
   
}
nav #toggle{
    display: none;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

nav ul li {
    display: inline-block;
    padding: 10px 13px;

}

nav ul li a {
text-decoration: none;
color: white;
font-size: 20px;
}

nav ul li a:hover ,
nav ul li a.active{
    color: rgb(0, 128, 92);
}
 nav .search{
    display: inline-block;
    float: right;
    padding: 5px;
    width: 150px;
    margin: 5px;
    border: 1px solid #444444;
    background: #333333;
    color: #eeeeee;
    border-radius: 2px;
    font-size: 110%;
 }

 nav .search:focus{
    outline: none;
    border-color: rgb(0, 128, 92);
 }

 header .header-text {
    position:absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%)
    translateY(-50%);
    max-width: 1200px;
    color: rgb(255, 251, 251);
    text-align: center;
    text-shadow: 0 0 30px black;
 }
main {
   padding: 20px;
   min-height: 40vh;
}

aside {
    padding: 20px;
    background: lightblue;
    border-radius: 7%;

}

footer {
    background: rgba(15, 14, 14, 0.952);
    color: #dddddddd;
}

footer h2{
    color: white;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li a {
    text-decoration: none;
    color: #dddddddd;
}

footer ul li a:hover {
    color: white;
}
.copyright{
   font-size: 90%;
   border-top: 1px solid #5555;
   color: #999999;
   text-align: center;
}

.copyright p {
    padding: 5px;
    margin: 0;
}
.flexbox {
    display: flex;
    width: 100%;
}

.flex.flex1 { 
   
    flex: 1;

}
.flex.flex2 { 
    
    flex: 2;
}

.flex.flex3 { 
    
    flex: 3;

}

img{
    width: 90%;
    border-radius: 8px;
}

.block{
    padding: 10px;

}
.text-right{
    text-align: right;

}

.btn{
    display: inline-block;
    padding: 10px 15px 10px 15px;
    background: rgb(0, 128, 92);
    color: white;
    text-decoration: none;
    border-radius: 7px;
}

.btn:hover{
    background:rgba(5, 40, 30, 0.825);
}
form input[type=text],
form input[type=email],
form textarea{
display: block;
width: 100%;
padding: 5px;
box-sizing: border-box;
border-radius: 7px;
font-size: 100%;
border: 2px solid #999999;
}
form input[type=text]:focus,
form input[type=email]:focus,
form textarea:focus{
    outline: none;
    border-color: aquaform ;
}
form input[type=submit]{
    font-size: 100%;
    border: none;

}

textarea{
    resize: none;
    height: 300px;
}
@media only screen and (max-width: 768px) {
.flexbox
.flex{
    display: block;
    width: 100%;
} 
nav {
    padding: 0;
    background: none;
}


nav .logo{
    display: block;
    text-align: center;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    opacity: 5%;
}

nav #toggle{
    position: absolute;
    top: 20px;
    left: 20px;
     display: block;
    padding: 5px;
    font-size: 250%;
    color: white;
    background: black;
    cursor: pointer;
}
nav ul{
position: absolute;
z-index: 2;
top: 60px;
width: 98%;
background: black;
display: none;
}

nav ul.open {
    display: block;
}

nav ul li{
    display: block;
}

nav .search{
    display: none;
} 
img{
    display: block;
}  
}